
db/AresiaSRAM.quiproj.67952.rdr.flock
*.flock
*.cdb
*.wlf
*.wlf
*.qtl
*.qpg
*.qdb
*.qpg
*.qdb
/db
*.kpt
*.qmsg
*.v
*.cdb
*.hdb
*.rdb
*.idb
*.ddb
*.flock
*.hsd
*.dfp
*.ammdb
*.rcfdb
*.txt
*.logdb
*.rpt
*.summary
*.cdf
*.jdi
*.smsg
*.pof
*.sld
*.pin
*.sof
*.vho
*.sft
*.xrf
db\AresiaSRAM.(0).cnf.hdb
db/AresiaSRAM.(1).cnf.hdb
db/AresiaSRAM.(10).cnf.cdb
db/AresiaSRAM.(10).cnf.hdb
db/AresiaSRAM.(13).cnf.cdb
db/AresiaSRAM.(13).cnf.hdb
db/AresiaSRAM.(15).cnf.cdb
db/AresiaSRAM.(15).cnf.hdb
db/AresiaSRAM.(2).cnf.hdb
db/AresiaSRAM.(3).cnf.cdb
db/AresiaSRAM.(3).cnf.hdb
db/AresiaSRAM.(4).cnf.cdb
db/AresiaSRAM.(4).cnf.hdb
db/AresiaSRAM.(5).cnf.cdb
db/AresiaSRAM.(5).cnf.hdb
db/AresiaSRAM.(6).cnf.cdb
db/AresiaSRAM.(6).cnf.hdb
db/AresiaSRAM.(69).cnf.cdb
db/AresiaSRAM.(69).cnf.hdb
db/AresiaSRAM.(7).cnf.cdb
db/AresiaSRAM.(7).cnf.hdb
db/AresiaSRAM.(8).cnf.cdb
db/AresiaSRAM.(8).cnf.hdb
db/AresiaSRAM.(9).cnf.cdb
db/AresiaSRAM.(9).cnf.hdb
db/AresiaSRAM.cmp.rdb
db/AresiaSRAM.db_info
db/AresiaSRAM.hif
db/AresiaSRAM.map.bpm
db/AresiaSRAM.map.cdb
db/AresiaSRAM.map.hdb
db/AresiaSRAM.map.kpt
db/AresiaSRAM.map.qmsg
db/AresiaSRAM.map.rdb
db/AresiaSRAM.map_bb.cdb
db/AresiaSRAM.map_bb.hdb
db/AresiaSRAM.pre_map.hdb
db/AresiaSRAM.rtlv.hdb
db/AresiaSRAM.rtlv_sg.cdb
db/AresiaSRAM.rtlv_sg_swap.cdb
db/AresiaSRAM.tmw_info
db/prev_cmp_AresiaSRAM.qmsg
incremental_db/compiled_partitions/AresiaSRAM.root_partition.map.cdb
incremental_db/compiled_partitions/AresiaSRAM.root_partition.map.dpi
incremental_db/compiled_partitions/AresiaSRAM.root_partition.map.hbdb.cdb
incremental_db/compiled_partitions/AresiaSRAM.root_partition.map.hbdb.hdb
incremental_db/compiled_partitions/AresiaSRAM.root_partition.map.hdb
incremental_db/compiled_partitions/AresiaSRAM.root_partition.map.kpt
db/AresiaSRAM.(0).cnf.hdb
simulation/modelsim/msim_transcript
